In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [6]:
ctyDataPath = '../Instructions/Pyber/raw_data/city_data.csv'
rdeDataPath = '../Instructions/Pyber/raw_data/ride_data.csv'

In [7]:
cityData = pd.read_csv(ctyDataPath)
rideData = pd.read_csv(rdeDataPath)

In [10]:
cityData.head()

             city  driver_count   type
0      Kelseyland            63  Urban
1      Nguyenbury             8  Urban
2    East Douglas            12  Urban
3   West Dawnfurt            34  Urban
4  Rodriguezburgh            52  Urban

In [11]:
rideData.head()

          city                 date   fare        ride_id
0     Sarabury  2016-01-16 13:49:27  38.35  5403689035038
1    South Roy  2016-01-02 18:42:34  17.49  4036272335942
2  Wiseborough  2016-01-21 17:35:29  44.18  3645042422587
3  Spencertown  2016-07-31 14:53:22   6.87  2242596575892
4   Nguyenbury  2016-07-09 04:42:44   6.28  1543057793673

In [74]:
combined_ride_city = pd.merge(cityData, rideData, how = "outer", on = "city" )
faredata = combined_ride_city.groupby('city')['fare'].sum()
countdata = combined_ride_city.groupby('city').count()
combined_ride_city.head()
countdata.head()

              driver_count  type  date  fare  ride_id
city
Alvarezhaven            31    31    31    31       31
Alyssaberg              26    26    26    26       26
Anitamouth               9     9     9     9        9
Antoniomouth            22    22    22    22       22
Aprilchester            19    19    19    19       19

In [90]:
datadf = pd.DataFrame({'city': faredata.index, 'Avg Fare': faredata.values})
datadf.head()

   Avg Fare          city
0    741.79  Alvarezhaven
1    535.85    Alyssaberg
2    335.84    Anitamouth
3    519.75  Antoniomouth
4    417.65  Aprilchester

In [91]:
farecount = pd.merge(datadf, countdata, how = 'outer', on = 'city')

KeyError: 'city'

In [ ]:
#Tried to get data points in one dataframe, couldn't extract amount of rides to get the average fare